target/
.idea
*.iml
Runner/conf/environment.properties
Runner/conf/local.properties
*.log

# Eclipse files to ignore
.project
.settings/
.classpath
local.properties
Runner/jetty/runner/src/main/war
Runner/jetty/debug.log
Runner/jetty/velocity.log
CatalogDomainImpl/catalog.integration.publishing/dependency-reduced-pom.xml
Runner/stella/
Runner/jetty/catalog/
Runner/catalog/
Runner/oracle.properties
Runner/postrges.properties
Runner/load.log*
Runner/runner/

